 
body {
    background: linear-gradient(135deg, #00ff00, #33cc33);
    background-size: 400% 400%;
    animation: gradientAnimation 10s infinite;
    text-align: center;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}